<!doctype html>
<html ng-app="todoApp">
<head>
    <title>Todo app (AngularJS & Elasticsearch)</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/angular-1.0.1.min.js"></script>
    <script src="js/angular-resource-1.0.1.min.js"></script>
    <script src="js/task.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body ng-controller="IndexCtrl">

<div class="container well">
    <h1>Tasks | {{remaining()}} remaining</h1>

    <form ng-submit="add()" class="form-horizontal">
        <div class="control-group">
            <input type="text" ng-model="newTask" placeholder="Add new task..." />
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <ul class="tasks">
        <li ng-repeat="task in tasks">
            <label for="task-{{task.id}}">
                <input type="checkbox" id="task-{{task.id}}"  ng-model="task.done" ng-click="done(task.id)" />
                <span class="done-{{task.done}}">{{task.text}}</span>
                <a ng-click="delete(task.id)">x</a>
            </label>
        </li>
    </ul>
</div>
</body>
</html>